@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn btn-warning" asp-action="Create" asp-controller="Home">Create</a>
    <br/>
    <br/>
    <a class="btn btn-warning" asp-action="Read" asp-controller="Home">Read</a>
</div>